:root {
    --white: #ffffff;
    --white-2: #fff5e3;
    --white-3: #fefefe;
    --white-4: #fdefd6;
    --pastel-brown-light: #7b6659;
    --pastel-brown-dark: #7d5407;
    --gray-dark: #515151;
    --gold: #e3a430;
    --red-dark: #bd131b;
    --red-light: #d82330;
    --brown: #320307;
    --brown-light: #482f00;
    --dark-gold: #feb229;
}

$white:var(--white);
$white-2:var(--white-2);
$white-3:var(--white-3);
$white-4:var(--white-4);
$pastel-brown-light:var(--pastel-brown-light);
$pastel-brown-dark:var(--pastel-brown-dark);
$gray-dark:var(--gray-dark);
$gold:var(--gold);
$red-dark:var(--red-dark);
$brown:var(--brown);
$brown-light:var(--brown-light);
$dark-gold:var(--dark-gold);
$red-light:var(--red-light);